.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  min-height: 56px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    min-height: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17.5px 0;
}

@media only screen and (min-width: 768px) {
  .logo-header {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
}

.logo-footer {
  display: block;
  text-decoration: none;
  padding: 0;
  margin-bottom: 17.5px;
}

.logo-black {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
}

.logo-white {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-address {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 0;
}

@media only screen and (min-width: 1158px) {
  .header-address {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .header-address {
    display: none;
  }
}

.link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 1.5;
  display: block;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  position: absolute;
  bottom: -1px;
}

@media screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}

.header-list .link.active {
  color: #404bbf;
}

address {
  font-style: normal;
}

.address-link {
  color: #434455;
  font-size: 12px;
  letter-spacing: 0.04em;
  font-weight: 400;
  padding: 0;
}
@media only screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
  }
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg-mobil.jpg);
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-mobil@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tablet.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tablet@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-desk.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-desk@2x.jpg);
  }
}

.hero-page {
  margin: auto;
  margin-bottom: 72px;
  max-width: 210px;
}

@media only screen and (min-width: 768px) {
  .hero-page {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-page {
    margin-bottom: 48px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  min-width: 169px;
  min-height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

p {
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.feature-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media only screen and (min-width: 1158px) {
  .feature-p {
    font-weight: 400;
  }
}

.feature-name-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .feature-name-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}

.feature-text {
  width: 288px;
}

@media only screen and (min-width: 768px) {
  .feature-text {
    width: calc((100% - 24px * 1) / 2);
    max-width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-text {
    width: calc((100% - 24px * 3) / 4);
    max-width: 264px;
  }
}

.feature-h {
  margin-bottom: 8px;
}

.feature-icon {
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.feature-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1157.98px) {
  .feature-box {
    display: none;
  }
}

.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    row-gap: 64px;
  }
}

.team-foto {
  width: 264px;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

h4 {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-h {
  margin-bottom: 8px;
}

.team-p {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.team-text {
  padding: 32px 0;
}

.team-name {
  margin-bottom: 72px;
}

.portfolio {
  line-height: 1.11;
  text-align: center;
}

.portfolio-p {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-name {
  margin-bottom: 72px;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 24px;
  row-gap: 72px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1158px) {
  .portfolio-card {
    row-gap: 48px;
  }
}

.portfolio-foto {
  background-color: #ffffff;
  width: 288px;
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-foto {
    width: calc((100% - 24 * 1) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-foto {
    width: calc((100% - 24 * 2) / 3);
  }
}

@media only screen and (min-width: 768px) {
  .feature-text {
    width: calc((100% - 24px * 1) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .feature-text {
    width: calc((100% - 24px * 2) / 3);
  }
}

.portfolio-info {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-foto:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-foto:hover .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
  text-align: left;
}

.portfolio-h {
  margin-bottom: 8px;
  text-align: left;
}

.team-social,
.footer-social,
.mobile-menu-social {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-social-icon,
.footer-social-icon,
.mobile-menu-social-icon {
  width: 40px;
  height: 40px;
}

.social-link,
.social-link-footer,
.social-link-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2e2f42;
  line-height: 1.17;
  padding: 100px 0;
}

@media only screen and (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}

.footer-p {
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #ffffff;
}

.footer-text {
  min-width: 264px;
  text-align: left;
}

.p-social {
  margin-bottom: 16px;
}

.p-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-social {
  gap: 16px;
  justify-content: center;
}

.footer-container {
  display: block;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-container {
    padding: 0 108px;
    align-items: baseline;
  }
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-card {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-card {
    max-width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-card {
    margin-right: 120px;
  }
}

.footer-social-link {
  margin-bottom: 16px;
}

.footer-social-media {
  color: #ffffff;
}

@media only screen and (max-width: 767.98px) {
  .footer-social-media {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-social-media {
    margin-right: auto;
  }
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #2e2f42;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  background-color: transparent;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .subscribe-form-input {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 16px;
  }
}

.subscribe-form-field {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .subscribe-form-field {
    margin-bottom: 0;
  }
}
.subscribe-form-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  border: none;
}

.subscribe-form-icon {
  fill: white;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 24px;
  padding-top: 72px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn.mobil {
  background-color: #ffffff;
}

.modal-btn-icon {
  stroke: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon:hover,
.modal-btn-icon:focus {
  fill: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-caption {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-label {
  display: block;
  color: #8e8f99;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
}

.field {
  margin-bottom: 8px;
}

.field-comment {
  margin-bottom: 16px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: inherit;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-form-icon {
  position: relative;
}

.field-form-icon:focus {
  border-color: #4d5ae5;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-icon {
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .field-icon {
  fill: #4d5ae5;
}

.form-comment {
  width: 100%;
  resize: none;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-comment:focus {
  border-color: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  display: flex;
  gap: 8px;
}

.form-privacy {
  display: block;
  margin-bottom: 24px;
  user-select: none;
}

.form-privacy-user {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-privacy-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  flex-shrink: 0;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .form-privacy-user > .form-privacy-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .form-privacy-user > .form-privacy-checkbox {
  border-color: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-privacy-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobil-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 16px 40px;
}

.mobile-menu-list {
  padding-left: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-adress {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-items:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-link,
.mobile-menu-adres {
  color: #2e2f42;
  text-decoration: none;
}

.mobile-menu-link.active {
  color: #404bbf;
}

.mobile-menu-adres.active {
  color: #4d5ae5;
}

.mobile-menu-social {
  gap: 40px;
  justify-content: flex-start;
}
